#_search_pixiv_menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #F8F8F8;
    border-width: 1px;
    border-color: #e8e8e8;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 133.3%;
    letter-spacing: 0.04em;
}

#_header span {
    font-weight: bold;
}

#_removeAtsign {
    color: #0086e0;
    cursor: pointer;
}

#_searchArea {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#_searchArea input[type="search"]{
    flex: 5;
    padding: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-right: 0;
    outline: none;
}

#_searchArea #_searchButton{
    flex: 2;
}

#_searchArea input[type="button"] {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0;
    background-color: #0096fa;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.5s;
    outline: none;
}

#_searchArea input[type="button"]:hover {
    background-color: #0086e0;
}

#_radioArea {
    display: flex;
    flex-direction: row;
}

#_radioArea input[type="radio"] {
    vertical-align: middle;
}

#_radioArea label {
    margin-right: 1em;
    color: #666666;
    cursor: pointer;
}